<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    
    <input 
    type="hidden" 
    name="paymentDetailId" 
    [value]="service.formData.paymentDetailId">

    <div class="form-group py-2">

        <label class="py-2">CARD OWNER NAME</label>

        <input 
        class="form-control form-control-lg" 
        placeholder="Full Name" 
        name="cardOwnerName" 
        #cardOwnerName="ngModel" 
        [(ngModel)]="service.formData.cardOwnerName"
        required [class.invalid]="cardOwnerName.invalid && cardOwnerName.touched">

    </div>

    <div class="form-group py-2">

        <label class="py-2">CARD NUMBER</label>

        <input 
        class="form-control form-control-lg" 
        placeholder="16 Digit Card Number" 
        name="cardNumber" 
        #cardNumber="ngModel" 
        [(ngModel)]="service.formData.cardNumber"
        maxlength="16"
        minlength="16"
        required [class.invalid]="cardNumber.invalid && cardNumber.touched">
        
    </div>

    <div class="row">

        <div class="form-group col-md-6">

            <label class="py-2">VALID THROUGH</label>

            <input 
            class="form-control form-control-lg" 
            placeholder="MM/YY" 
            name="expirationDate" 
            #expirationDate="ngModel" 
            [(ngModel)]="service.formData.expirationDate"
            maxlength="5"
            minlength="5"
            required [class.invalid]="expirationDate.invalid && expirationDate.touched">
            
        </div>

        <div class="form-group col-md-6">

            <label class="py-2">SECURITY CODE</label>

            <input 
            type="password"
            class="form-control form-control-lg" 
            placeholder="Security Code" 
            name="securityCode" 
            #securityCode="ngModel" 
            [(ngModel)]="service.formData.securityCode"
            maxlength="3"
            minlength="3"
            required [class.invalid]="securityCode.invalid && securityCode.touched">
            
        </div>

    </div>

    <div class="form-group d-grid py-3">
        
        <button class="btn btn-primary btn-lg text-white" type="submit" [disabled]="form.invalid">SUBMIT</button>

    </div>
    
</form>